<a style="color: black; font-size: x-large ; font-weight: bold">Desarrolle el ejercicio usando las operaciones de Pandas</a>

In [1]:
import pandas as pd #Carga libreria Pandas
from pandas.testing import assert_frame_equal #LIbrería para evaluar los dataframes

## Cargue el archivo  

> -url: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [18]:
### BEGIN SOLUTION
datos = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
### END SOLUTION

In [19]:
datos

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [20]:
pd.testing.assert_frame_equal(datos, datos)

## Una funcion para identificar si una persona dependiendo de su sexo y la clase, puede tener acceso a la popa o al casco del barco

>- Si 'sex:male' y 'class:Third' o 'class:Second' es "Sin acceso a la popa, ni al casco"
>- Si 'sex:female' y 'class:Third' o 'class:Second' es "Con acceso al casco"
>- Si 'sex:male' o 'sex:female' y 'class:First' es "Con acceso a la popa y al casco"

In [21]:
### BEGIN SOLUTION
def acceso(sex,clas):
    if (sex == "male"  and (clas == "Second" or clas == "Third")):
        return 'Sin acceso a la popa, ni al casco'
    elif (sex == "female"  and (clas == "Second" or clas == "Third")):
        return 'Con acceso al casco'
    elif ((sex == "male"  or sex == "female") and clas == "First"):
        return 'Con acceso a la popa y al casco'
### END SOLUTION

In [10]:
print(acceso("female","Second")) #Con acceso al casco

Con acceso al casco

In [22]:
assert acceso("female","Second") == "Con acceso al casco"
### BEGIN HIDDEN TESTS
assert acceso("male","Second") == "Sin acceso a la popa, ni al casco"
assert acceso("male","First") == "Con acceso a la popa y al casco"
assert acceso("female","First") == "Con acceso a la popa y al casco"
### END HIDDEN TESTS

##  Aplicar la funcion acceso a una columna  de nombre "acceso" de la tabla

In [23]:
### BEGIN SOLUTION
datos['Acceso'] = datos.apply(lambda x: acceso(x['sex'],x['class']), axis=1);
### END SOLUTION

In [16]:
datos

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone,Acceso
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n,"Sin acceso a la popa, ni al casco"
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n,Con acceso a la popa y al casco
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y,Con acceso al casco
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n,Con acceso a la popa y al casco
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y,"Sin acceso a la popa, ni al casco"
...,...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y,"Sin acceso a la popa, ni al casco"
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y,"Sin acceso a la popa, ni al casco"
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y,Con acceso a la popa y al casco
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n,Con acceso al casco
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y,"Sin acceso a la popa, ni al casco"

In [24]:
assert_frame_equal(datos, datos)