<a style="color: black; font-size: x-large ; font-weight: bold">Desarrolle el ejercicio usando las operaciones de Pandas</a>

In [1]:
import pandas as pd #Carga libreria Pandas
from pandas.testing import assert_frame_equal #LIbrería para evaluar los dataframes

## Cargue el archivo y guardelo en la variable datos

> -url: https://raw.githubusercontent.com/cgiohidalgo/JupyterHub-nbgrader/main/dataT.csv

In [2]:
### BEGIN SOLUTION
datos = pd.read_csv("https://raw.githubusercontent.com/cgiohidalgo/JupyterHub-nbgrader/main/dataT.csv")
### END SOLUTION

In [3]:
datos

    Comida      Color
0  Lechuga      Verde
1   Tomate       Rojo
2     Piña  Amarrillo
3  Naranja    Naranja

In [4]:
pd.testing.assert_frame_equal(datos, datos)

## Agregar una columna 

>- nombre columa "Precio"
>- valores [1.964, 2.400, 5.044, 7.48]

In [5]:
### BEGIN SOLUTION
datos["Precio"] = [1.964, 2.400, 5.044, 7.48]
### END SOLUTION

In [6]:
datos

    Comida      Color  Precio
0  Lechuga      Verde   1.964
1   Tomate       Rojo   2.400
2     Piña  Amarrillo   5.044
3  Naranja    Naranja   7.480

In [7]:
assert_frame_equal(datos, datos)

##  Modificar el valor de columna con condición

>- Dependiendo de si un producto de la columna 'Precio' es mayor de 2.450 lo clasifique en la 'Categoria' con la palabra 'Costoso'   
>- No puede usar condicionales ni bucles (if-else, while, for)

In [11]:
### BEGIN SOLUTION
datos.loc[ datos['Precio'] > 2.450 ,"Categoria"] = 'Costoso'
### END SOLUTION

In [12]:
datos

    Comida      Color  Precio Categoria
0  Lechuga      Verde   1.964       NaN
1   Tomate       Rojo   2.400       NaN
2     Piña  Amarrillo   5.044   Costoso
3  Naranja    Naranja   7.480   Costoso

In [ ]:
assert_frame_equal(datos, datos)